* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

/* -----HEADER------ */

header {
    height: 50px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    
}

.btn-upgrade {
    border-radius: 15px;
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    margin: 10px;
}

/* -----MAIN----- */

main {
    background-color: rgb(13, 13, 26);
    display: flex;
}

.aside {
    height: calc( 100vh - 60px);
    width: 200px;
    background-color: black;
    position: relative;
    padding: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    
}

.main-nav, .main-nav-middle, .main-nav-bottom{
    margin: 10px 0;
    color: lightgray;
}

.main-nav li, .main-nav-middle li{
    color: lightgray);
    padding-top: 15px;
    list-style: none;
}

.main-nav-middle ul li {
    color: lightgray;
    padding-top: 10px;
    flex-grow: 1;
}

.main-nav-bottom {
    position: absolute;
    bottom: 10px;
}

.hr-main {
    width: 100%;
    margin: 10px 0;
}

.main-nav i {
    font-size: 20px;
    margin-right: 10px;
}

.main-nav-middle i{
    font-size: 40px;
    margin-right: 10px;
}

.content {
    color: white;
    width: calc(100% - 200px);
    margin-top: 50px;
    overflow-y: auto;
}

.content ul{
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 20px;
    padding-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .col img {
    max-width: 100%;
    padding: 10px;
}

.col {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.plus {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.text {
    padding: 20px 10px;
}

a {
    text-decoration: none;
    color: inherit;
}


/* -----IMG----- */

.logo {
    width: 70%;
}

/* -----FOOTER----- */

footer {
    height: 60px;
    background-color: rgb(60, 60, 60);
}