* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

/* -----HEADER------ */

header {
    height: 60px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-upgrade {
    border-radius: 15px;
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    margin: 10px;
    cursor: pointer;
}

.btn-upgrade:hover {
    transform: scale(1.1);
}

/* -----MAIN----- */

main {
    height: calc(100vh - 60px);
    background-color: rgb(13, 13, 26);
    display: flex;
}

.aside {
    height: calc( 100vh - 60px);
    width: 200px;
    background-color: black;
    position: relative;
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
}

.main-nav, .main-nav-middle, .main-nav-bottom{
    margin: 10px 0;
    color: lightgray;
}

.main-nav li, .main-nav-middle li{
    color: lightgray);
    padding-top: 15px;
    list-style: none;
}

.main-nav-middle ul li {
    color: lightgray;
    padding-top: 10px;
    flex-grow: 1;
}

.nav {
    color: lightgray;
    flex-grow: 1;
    overflow-y: auto;
}

.nav li{
    padding: 10px 0;
}

.hr-main {
    width: 100%;
    margin: 10px 0;
}

.main-nav i {
    font-size: 20px;
    margin-right: 10px;
}

.main-nav-middle i{
    font-size: 40px;
    margin-right: 10px;
}

.content {
    color: white;
    width: calc(100% - 200px);
    margin-top: 50px;
    overflow-y: auto;
    margin-left: 20px;
}

.content ul{
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
    color: grey;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    width: calc(100% / 6 - 20px);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.plus {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.text {
    padding: 20px 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.playlist {
    color: white;
}

.bord-green {
    border-bottom: 3px solid greenyellow;
}
.bord-vert {
    border-left: 3px solid greenyellow;
}

/* -----IMG----- */

.logo {
    width: 70%;
}

.imgbord{
    border-radius: 50%;
}

.img-footer{
    width: 10%;
}

.mini-img{
    display: flex;
    align-items: center;
}

.img {
    display: block;
    position: relative;
    width: 100%;
}

.logo .mobile {
    display: none;
} 

.row .col img {
    max-width: 100%;
}


/* -----FOOTER----- */

footer {
    height: 60px;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    color: lightgray;
    padding: 0 10px;
    width: 100%;
}

.footer-left, .footer-right{
    width: 25%;
    font-size: 12px;
}

.footer-left{
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-middle{
    width: 50%;
    text-align: center;
    padding: 5px 0;
}

.play{
    font-size: 20px;
    padding: 0 20px;
    justify-content: center;
}

.heart{
    padding-left: 35px;
    padding-right: 10px;
}

.text-sinister{
    padding-left: 10px;
}

.icon-space {
    padding: 5px 10px;
}

.bar{
    width: 60%;
    height: 4px;
    background-color: grey;
    margin: auto;
    border-radius: 10px;
}

.bar-2 {
    background-color: aliceblue;
    border-radius: 10px;
    margin: 5px 0;
    height: 4px;
    width: 70px;
}

.bar-2:hover {
    background-color: greenyellow;
}

.bar-right {
    height: 3px;
    background-color: grey;
    border-radius: 10px;
    width: 50%;
    margin-left: 100px;
}

.bar-small{
    height: 3px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 20%;
    margin-right: 0;
}

a:hover {
    color: white;
}

/* -----OVERLAY----- */

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 60px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.img:hover .overlay{
    opacity: 1;
}



/* -----MEDIA SCREEN----- */

@media screen and (max-width: 1100px) {
    .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 700px) {
    .col {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 650px) {
    .aside {
        width: 100px;
    }
    
    .content {
        width: calc(100% - 100px);
    }

    li {
        display: none;
    }
    
    header {
        width: 100%;
    }

    .logo .desktop {
        display: none;
    }

    .logo .mobile {
        display: block;
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .col {
        width: calc(100% / 1);
    }
}
